    *
      {
        margin:0;
        padding:0;
        box-sizing: border-box;
      }
    	
  @media  screen and (max-width: 500px)
  {
       #menu
       {
       	display: none;
       	height: 100%;
       	width: 200px;
       	background-color: lightgrey;
       	position: absolute;
        z-index: 1;
       }

       #inside_ul li
       {

          list-style-type: none;
          color: maroon;
          padding: 20px;
          margin-top: 15px;
          left: 0;
       }
       #inside_ul li:hover
       {
       	 background-color: green;
       } 
      
 
      #X
      {   
           display:block;
      	   text-align: center;
      }
      #btn img
      {
      	width: 30px;
      	height: 30px;
      	border-radius: 50% 50%;

      }
      #btn
      { 
        display: inline-block;
      	border: 0;
      	border-radius: 50% 50%;
      	

      }
      #X button
      {
      	border: 0;
      	background-color:white;
      	font-size: 30px;
      }
      #header
      {
      	position: absolute;
        display: block;
      	background-color: grey;
      	width: 1000px;
      	height: 50px;
      }
      #header #btn
      {
      	float: left;
      }
      #head
      {
      	
        position: relative;
        left: 4%;
      	letter-spacing: 2px;
      	margin-top: 10px;
      	color: white;
      
      }
      #header #btn 
      {
      	margin-top: 5px;
      }



  #card
{
  top: 80px;
  position: relative;
  transform: translate(50%,50%);
  right: 40%;
}
#inside-card
{
  position: absolute;
   width: 100%;
  height: 500px;
  background-size: cover;
 
  background-repeat: no-repeat;
    transform: translate(60% 50%);
  border:5px solid green;
  overflow: none;
  scroll-behavior: none;
   outline-color: black;
   outline-width: 2px;
   outline-offset: 3px;
   outline-style: dashed;
   border-radius: 10px 10px;
}
#inside-card p
{
   text-align: center;
   letter-spacing: 10px;
   font-style: italic;
   font-weight: bolder;
   color: white;
}
#inside-card img
{
  position: relative;
  left: auto;
  top: 30px;
  padding: 0 50%;
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
}
#inside-card #input
{
   
   position: relative;
   text-align: center;
   letter-spacing: 1px;
   margin-bottom: 40px;
   font-style: italic;
   font-weight: bolder;
}
#data
{
  position: relative;
  top: 40px;
}
#opacity
{
  filter: brightness(50%);
}
.inp
{
  position: relative;
  color: green;
  left: 20%;
  text-align: center;
  height: 30px;
  opacity: 0.50; 
  font-weight: bolder;
}
#input
{
  font-weight: bolder;
  font-size: 15px;
  color: white;
}
.btn
{
  position: relative;
  margin-top:20px;
  left: 40%;
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 10px 10px;
}
  }


@media screen and (min-width:501px)
{
#btn
{
  display: none;
}
#X
{
  display: none;
}
#header
{
  background-color: grey;
  height: 60px;
  width: 100%;

}
#header #head
{
  margin-top: 20px;
  display: block;
  text-align: center;
  left: 40%;
  position: absolute;
}


#menu
{
  position: relative;
  top: 40px;
  background-color: lightgrey;
  height: 40px;
}
#inside_ul li
{
  margin-top: 10px;
  display: inline-block;
  padding-right: 40px;
}
#inside_ul
{
  position: relative;
  left: 25%;
}
#inside_ul li:hover
{
  padding: 10px 0px;
  margin-top: 0;
  margin-right: 40px;
  background-color: green;
}



#card
{
  top: 40px;
  position: relative;
  transform: translate(50%,50%);
  right: 15%;
}
#inside-card
{
  z-index: 50;
     border:5px solid green;
   outline-color: black;
   outline-width: 2px;
   outline-offset: 3px;
   outline-style: dashed;
   border-radius: 10px 10px;
   width: 300px;
   height: 430px;
    position: absolute;
}
#inside-card
{ 
    width: 300px;
   height: 430px;
   position: absolute;
   z-index: 5;
}
#inside-card p
{
  top: 10px;
   text-align: center;
   letter-spacing: 10px;
   margin-bottom: 20px;
   font-style: italic;
   font-weight: bolder;
   color: white;
   animation-name: sample;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
@keyframes sample
{
  0%{ color: black;}
  20%{color: darkred;}
  40%{color: darkgreen;}
  60%{color: goldenrod;}
  80%{color: yellow;}
  100%{color: white;}
}
#opacity
{
  left: 30%;
  position: relative;
  border: .5px solid grey;
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  animation-name: sample1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes sample1
{
   0%{background-color: lightgreen;}
   100%{background-color: lightpink;}
}
#inside-card #input
{
  
   position: relative;
   text-align: center;
   letter-spacing: 1px;
   margin-bottom: 40px;
   font-style: italic;
   font-weight: bolder;
}
#data
{
  position: relative;
  top: 30px;
}

.inp
{
  position: relative;
  color: green;
  left: 20%;
  height: 30px;
  opacity: 0.50; 

  font-weight: bolder;
}
#input
{
  font-weight: bolder;
  font-size: 15px;
  color: white;
}
.btn
{
  position: relative;
  margin-top:20px;
  left: 40%;
  
  display: block;
  width: 50px;
  height: 30px;
  border-radius: 10px 10px;
}


}